.donatePage_wrapper {
  padding: 32px;
}
.donatePage_wrapper > div {
  display: flex;
}
.donatePage_back_button {
  padding: 10px 20px;
  background-color: var(--background-primary);
  color: var(--on-primary);
  border-radius: 24px;
  margin-bottom: 36px;
  box-shadow: 0 2px 5px var(--background-primary);
}
