@import url("../../index.css");

.TopNav_wrapper {
  width: 100vw;
  height: 42px;
  z-index: 100;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 32px;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;

  background-color: var(--on-primary);
}

nav > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
}
/* .active {
  color: var(--primary-color);
  text-decoration: none;
  background: var(--on-primary);
  border-bottom: 0px;
  font-weight: bold;
} */
