.whatWeDo_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.whatWeDo_wrapper > div,
.whatWeDo_card_wrapper > div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.whatWeDo_card_wrapper > div {
  padding: 10px;
  flex-direction: column;
}
.whatWeDo_card_wrapper {
  display: flex;
  flex: 1 1;
  width: 90%;
  margin: auto;
  /* max-width: 200px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: var(--on-background-primary);
  border-radius: 6px;
  overflow: hidden;
  gap: 10px;
}
.whatWeDo_title {
  font-size: 18px;
  font-weight: 500;
}
.whatWeDo_img {
  width: 300px;
}
