.contact_section_wrapper {
  width: 100%;
  height: 100%;
}
.footer_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--background-primary);
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}
.contact_top {
  height: 74.5%;
  display: flex;
}
.contact_top_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.contact_top_title {
  display: flex;
  width: fit-content;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
}
.footer_wrapper > div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1 1 50%;
}
.footer_wrapper > div > span {
  margin: 10px 10px 10px 0;
}
.contact_title {
  color: var(--on-primary);
  font-size: 18px;
  font-weight: bold;
}
.contact_content {
  color: var(--on-background-primary);
}
.contact_icon {
  margin-right: 10px;
}
